In [1]:
import pandas as pd
import sqlalchemy as db
import zipfile, urllib.request, shutil

In [2]:
url = 'https://api.worldbank.org/v2/es/topic/19?downloadformat=csv'
file_name = 'Api_externa.zip'

In [3]:

with urllib.request.urlopen(url) as response, open(file_name, 'wb') as out_file: 
    shutil.copyfileobj(response, out_file)
    with zipfile.ZipFile(file_name) as zf:
        zf.extractall()

In [4]:
with open('API_19_DS2_es_csv_v2_4321676.csv', 'r+', encoding= 'latin-1') as archivo:
    lines = archivo.readlines()
    archivo.seek(0)
    archivo.truncate()
    for number, line in enumerate(lines):
        if number not in range(4):
            archivo.write(str(line))

In [5]:
archivo.close()

In [6]:
import pandas as pd

In [7]:
api_externa = pd.read_csv('API_19_DS2_es_csv_v2_4321676.csv')

In [8]:
# api_externa['Unnamed: 66'].unique()

In [9]:
# api_externa['Country Name'].unique()

<div style="color:#fb5607">Código de Loli (Maria)

In [10]:
#import pandas as pd

#api_externa = pd.read_csv('Data_consumo_generacion.csv')

api_externa = api_externa[api_externa['Indicator Name'] != 'Población urbana (% del total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Población urbana']
api_externa = api_externa[api_externa['Indicator Name'] != 'Crecimiento de la población urbana (% anual)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Crecimiento de la población (% anual)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Tasa de incidencia de la pobreza, sobre la base de $1,90 por día (2011 PPA) (% de la población)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Prevalencia de desnutrición, peso para la edad (% de niños menores de cinco años)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Comunidad de trabajadores de la salud (por cada 1.000 personas)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Tasa de mortalidad, menores de 5 años (por cada 1.000)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Tasa de finalización de la educación de nivel primario, total (% del grupo etario correspondiente)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Proporción de niñas con respecto a niños en educación primaria y secundaria (%)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Agricultura, valor agregado (% del PIB)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Promedio grupal de instituciones y gestión del sector público de la CPIA (1=bajo a 6=alto)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Índice de facilidad para hacer negocios (1 = reglamentaciones más favorables para los negocios)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Áreas marinas protegidas (% de las aguas territoriales)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Áreas terrestres protegidas (% del área total de la tierra)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Extracción anual de agua dulce, total (% de recursos internos)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Extracción anual de agua dulce, total (en billones de metros cúbicos)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Población en aglomerados urbanos > 1 millón (% de la población total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Población que vive en zonas donde la elevación es inferior a 5 metros (% de la población total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Población urbana que vive en áreas donde la elevación es inferior a 5\xa0metros (% de la población total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Población rural que vive en áreas donde la elevación es inferior a 5\xa0metros (% de la población total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Sequías, inundaciones, temperaturas extremas (% de la población, promedio de 1990-2009)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones y absorciones netas de GEI por cambio en los usos de la tierra y la silvicultura (toneladas métricas de equivalente de CO2).']
api_externa = api_externa[api_externa['Indicator Name'] != 'Puntuación del progreso en la reducción de los riesgos de desastres (escala de 1 a 5; 5= óptima)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de óxido nitroso (% de cambio desde 1990)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de metano (% de cambio desde 1990)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de gases de efecto invernadero totales (% de cambio desde 1990)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Otras emisiones de gases de efecto invernadero (% de cambio desde 1990)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de CO2 del consumo de combustibles sólidos (kilotoneladas)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de CO2 (kg por PPA: paridad del poder adquisitivo del PIB de 2011)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de CO2 (kg por PPA del PIB)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de CO2 (toneladas métricas per cápita)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de CO2 del consumo de combustible líquido (% del total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de CO2 (kg por US$ del PIB de 2010)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Emisiones de CO2 del consumo de combustible gaseoso (kilotoneladas)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Intensidad de CO2 (kg de uso de energía por kg de equivalente de petróleo)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Uso de energía (kg de equivalente de petróleo per cápita)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Uso de energía (kg de equivalente de petróleo) por US$1.000 PIB (PPA constantes de 2011)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Acceso a la electricidad (% de población)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Inversión extranjera directa, entrada neta de capital (% del PIB)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Rendimiento de los cereales (kg por hectárea)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Promedio detallado de precipitaciones (mm anuales)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Tierras agrícolas de regadío (% del total de tierras agrícolas)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Área selvática  (kilómetros cuadrados)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Superficie del terreno donde la elevación es inferior a 5 metros (% de la superficie total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Área de tierra urbana donde la elevación es inferior a 5\xa0metros (% de la superficie total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Área de tierra urbana donde la elevación es inferior a 5\xa0metros (kilómetros cuadrados)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Área de tierra rural donde la elevación es inferior a 5\xa0metros (% de la superficie total)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Área de tierra rural donde la elevación es inferior a 5\xa0metros (kilómetros cuadrados)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Tierras cultivables (% del área de tierra)']
api_externa = api_externa[api_externa['Indicator Name'] != 'Tierras agrícolas (kilómetros cuadrados)']

api_externa.fillna(0,inplace=True)

api_externa['filtro'] = api_externa.iloc[:,4:-1].sum(axis=1)

api_externa = api_externa[api_externa['filtro'] != 0]

api_externa = api_externa.drop('filtro',axis=1)

api_externa = api_externa.reset_index()

api_externa = api_externa.drop('index',axis=1)

api_externa = api_externa.drop('Indicator Code',axis=1)

#api_externa.to_csv('DataSet_ext.csv')

api_externa

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Población, total",54208.0,55434.000000,56234.000000,56699.000000,57029.000000,57357.000000,57702.000000,...,103165.000000,103776.000000,104339.000000,104865.000000,105361.000000,105846.000000,106310.000000,106766.000000,107195.000000,0.0
1,Aruba,ABW,Áreas protegidas terrestres y marinas (% del t...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.527983,0.141163,0.141163,0.141164,0.141164,0.141164,0.0
2,Aruba,ABW,Otras emisiones de gases de efecto invernadero...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,Aruba,ABW,Las emisiones de CO2 derivadas del consumo de ...,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,Aruba,ABW,Consumo de energía renovable (% del consumo to...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.890000,6.930000,6.730000,6.990000,6.700000,8.020000,7.480000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4761,Zimbabwe,ZWE,Producción de electricidad a partir del petról...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.595611,0.538600,0.494387,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4762,Zimbabwe,ZWE,Producción de electricidad a partir de fuentes...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,52.204807,54.169160,51.395612,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4763,Zimbabwe,ZWE,Producción de electricidad a partir de carbón ...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,45.464995,43.855974,46.781337,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4764,Zimbabwe,ZWE,Área selvática (% del área de tierra),0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,45.927543,45.808453,45.689363,45.570273,45.451183,45.332093,45.213002,45.093912,0.000000,0.0
4765,Zimbabwe,ZWE,Tierras agrícolas (% del área de tierra),0.0,28.396019,28.615743,28.835466,29.055189,29.223213,29.494636,...,41.876696,41.876696,41.876696,41.876696,41.876696,41.876696,0.000000,0.000000,0.000000,0.0

<div style="color:#fb5607">Modificación de la exportación del dataset del código de Loli (Maria)

In [11]:
api_externa.to_csv('DataSet_ext.csv', index= False)

<div style="color:#fb5607">Por si se necesita resetar la memoria

In [12]:
# %reset

In [13]:
# import pandas as pd
# import numpy as np

In [14]:
dataset = pd.read_csv('DataSet_ext.csv')

In [15]:
dataset = api_externa.copy()

<div style="color:#fb5607">A continuación se hace un diccionario con los nombres de los países del dataframe creado como keis y los paises en español, ya que se debe filtrar estos con una lista de paises que se encuentra en español.</p>
También, se normalizan nombres como  <b>'Congo, República Democrática del'</b></div>

In [16]:
equivalencias_paise = {'Afghanistan': 'Afganistán',
 'Albania': 'Albania',
 'Germany': 'Alemania',
 'Germany: East': 'Alemania',
 'Germany: West': 'Alemania',
 'Angola': 'Angola',
 'Antigua and Barbuda': 'Antigua y Barbuda',
 'Saudi Arabia': 'Arabia Saudita',
 'Algeria': 'Argelia',
 'Argentina': 'Argentina',
 'Armenia': 'Armenia',
 'Aruba': 'Aruba',
 'Australia': 'Australia',
 'Austria': 'Austria',
 'Azerbaijan': 'Azerbaiyán',
 'The Bahamas': 'Bahamas',
 'Bangladés': 'Bangladés',
 'Barbados': 'Barbados',
 'Bahrain': 'Baréin',
 'Belgium': 'Bélgica',
 'Belize': 'Belice',
 'Benin': 'Benín',
 'Belarus': 'Bielorrusia',
 'Burma': 'Birmania',
 'Bolivia': 'Bolivia',
 'Bosnia and Herzegovina': 'Bosnia y Herzegovina',
 'Botsuana': 'Botsuana',
 'Brazil': 'Brasil',
 'Brunei': 'Brunei Darussalam',
 'Bulgaria': 'Bulgaria',
 'Burkina Faso': 'Burkina Faso',
 'Burundi': 'Burundi',
 'Bhutan': 'Bután',
 'Cabo Verde': 'Cabo Verde',
 'Cambodia': 'Camboya',
 'Cameroon': 'Camerún',
 'Canada': 'Canadá',
 'Chad': 'Chad',
 'Chile': 'Chile',
 'China': 'China',
 'Taiwan': 'China',
 'Cyprus': 'Chipre',
 'Colombia': 'Colombia',
 'Comoros': 'Comoras',
 'North Korea': 'Corea del Norte',
 'South Korea': 'Corea del Sur',
 'Côte d’Ivoire': 'Costa de Marfil',
 'Costa Rica': 'Costa Rica',
 'Croatia': 'Croacia',
 'Former Yugoslavia': 'Croacia',
 'Cuba': 'Cuba',
 'Denmark': 'Dinamarca',
 'Dominica': 'Dominica',
 'Ecuador': 'Ecuador',
 'Egypt': 'Egipto',
 'El Salvador': 'El Salvador',
 'United Arab Emirates': 'Emiratos Árabes Unidos',
 'Eritrea': 'Eritrea',
 'Slovenia': 'Eslovenia',
 'Spain': 'España',
 'United States': 'Estados Unidos',
 'Guam': 'Estados Unidos',
 'Northern Mariana Islands': 'Estados Unidos',
 'U.S. Pacific Islands': 'Estados Unidos',
 'U.S. Territories': 'Estados Unidos',
 'U.S. Virgin Islands': 'Estados Unidos',
 'Wake Island': 'Estados Unidos',
 'Estonia': 'Estonia',
 'Ethiopia': 'Etiopía',
 'Russia': 'Federación de Rusia',
 'Former U.S.S.R.': 'Federación de Rusia',
 'Philippines': 'Filipinas',
 'Finland': 'Finlandia',
 'Fiyi': 'Fiyi',
 'France': 'Francia',
 'French Guiana': 'Francia',
 'French Polynesia': 'Francia',
 'Saint Pierre and Miquelon': 'Francia',
 'Guadeloupe': 'Francia',
 'Gabon': 'Gabón',
 'Gambia: The': 'Gambia',
 'Georgia': 'Georgia',
 'Ghana': 'Ghana',
 'Grenada': 'Granada',
 'Greece': 'Grecia',
 'Guatemala': 'Guatemala',
 'Guinea': 'Guinea',
 'Equatorial Guinea': 'Guinea Ecuatorial',
 'Guinea-Bisáu': 'Guinea-Bisáu',
 'Guyana': 'Guyana',
 'Haiti': 'Haití',
 'Honduras': 'Honduras',
 'Hungary': 'Hungría',
 'India': 'India',
 'Indonesia': 'Indonesia',
 'Irak': 'Irán',
 'Iran': 'Iraq',
 'Ireland': 'Irlanda',
 'Iceland': 'Islandia',
 'Solomon Islands': 'Islas Salomón',
 'Israel': 'Israel',
 'Italy': 'Italia',
 'Jamaica': 'Jamaica',
 'Japan': 'Japón',
 'Jordan': 'Jordania',
 'Kazakhstan': 'Kazajistán',
 'Kenia': 'Kenia',
 'Kyrgyzstan': 'Kirguistán',
 'Kiribati': 'Kiribati',
 'Kosovo': 'Kosovo',
 'Kuwait': 'Kuwait',
 'Laos': 'Laos',
 'Lesoto': 'Lesoto',
 'Latvia': 'Letonia',
 'Lebanon': 'Líbano',
 'Liberia': 'Liberia',
 'Libya': 'Libia',
 'Lithuania': 'Lituania',
 'Luxembourg': 'Luxemburgo',
 'North Macedonia': 'Macedonia del Norte',
 'Madagascar': 'Madagascar',
 'Malaysia': 'Malasia',
 'Malawi': 'Malawi',
 'Maldives': 'Maldivas',
 'Mali': 'Malí',
 'Malta': 'Malta',
 'Morocco': 'Marruecos',
 'Mauritius': 'Mauricio',
 'Mauritania': 'Mauritania',
 'Mexico': 'México',
 'Micronesia': 'Micronesia',
 'Mongolia': 'Mongolia',
 'Montenegro': 'Montenegro',
 'Mozambique': 'Mozambique',
 'Namibia': 'Namibia',
 'Nauru': 'Nauru',
 'Nepal': 'Nepal',
 'Nicaragua': 'Nicaragua',
 'Niger': 'Níger',
 'Nigeria': 'Nigeria',
 'Norway': 'Noruega',
 'New Zealand': 'Nueva Zelanda',
 'Niue': 'Nueva Zelanda',
 'Oman': 'Omán',
 'Netherlands': 'Países Bajos',
 'Netherlands Antilles': 'Países Bajos',
 'Pakistan': 'Pakistán',
 'Panama': 'Panamá',
 'Papua New Guinea': 'Papúa Nueva Guinea',
 'Paraguay': 'Paraguay',
 'Peru': 'Perú',
 'Poland': 'Polonia',
 'Portugal': 'Portugal',
 'Qatar': 'Qatar',
 'United Kingdom': 'Reino Unido',
 'Gibraltar': 'Reino Unido',
 'Turks and Caicos Islands': 'Reino Unido',
 'Central African Republic': 'epública Centroafricana',
 'Czech Republic': 'República Checa',
 'Former Czechoslovakia': 'República Checa',
 'Moldova': 'República de Moldova',
 'Congo-Brazzaville': 'República del Congo',
 'Congo-Kinshasa': 'República Democrática del Congo',
 'Dominican Republic': 'República Dominicana',
 'Slovakia': 'República Eslovaca',
 'Romania': 'Rumania',
 'Rwanda': 'Rwanda',
 'Samoa': 'Samoa',
 'Saint Kitts and Nevis': 'San Cristóbal y Nieves',
 'Puerto Rico': 'San Marino',
 'Saint Vincent/Grenadines': 'San Vicente y las Granadinas',
 'Saint Lucia': 'Santa Lucía',
 'Sao Tome and Principe': 'Santo Tomé y Príncipe',
 'Senegal': 'Senegal',
 'Serbia': 'Serbia',
 'Former Serbia and Montenegro': 'Serbia',
 'Seychelles': 'Seychelles',
 'Sierra Leone': 'Sierra Leona',
 'Singapore': 'Singapur',
 'Syria': 'Siria',
 'Somalia': 'Somalia',
 'Sri Lanka': 'Sri Lanka',
 'Suazilandia': 'Suazilandia',
 'South Africa': 'Sudáfrica',
 'Sudan': 'Sudán',
 'South Sudan': 'Sudán del Sur',
 'Sweden': 'Suecia',
 'Switzerland': 'Suiza',
 'Surinam': 'Surinam',
 'Thailand': 'Tailandia',
 'Tanzania': 'Tanzanía',
 'Tajikistan': 'Tayikistán',
 'Timor Oriental': 'Timor Oriental',
 'Togo': 'Togo',
 'Tonga': 'Tonga',
 'Trinidad and Tobago': 'Trinidad y Tobago',
 'Tunisia': 'Túnez',
 'Turkmenistan': 'Turkmenistán',
 'Turkey': 'Turquía',
 'Tuvalu': 'Tuvalu',
 'Ukraine': 'Ucrania',
 'Uganda': 'Uganda',
 'Uruguay': 'Uruguay',
 'Uzbekistan': 'Uzbekistán',
 'Vanuatu': 'Vanuatu',
 'Venezuela': 'Venezuela',
 'Vietnam': 'Vietnam',
 'Yemen': 'Yemen',
 'Yibuti': 'Yibuti',
 'Zambia': 'Zambia',
 'Zimbabue': 'Zimbabue'}

<div style="color:#fb5607">Se utiliza el diccionario creado para cambiar los nombres de los países

In [17]:
dataset.replace({'Country Name': equivalencias_paise}, inplace = True)

<div style="color:#fb5607">Se carga la lista de países, para compararla con los países que están en el DataFrame

In [18]:
paises = pd.read_csv('Paises.csv')

<div style="color:#fb5607">Se ordena aalfabeticamente los nombres de los países

In [19]:
paises.sort_values(by='Nombre_Pais', inplace=True)

In [20]:
#paises.insert(0,'Id_Pais',[i+1 for i,_ in enumerate(paises.Pais)])

In [21]:
#paises.rename(columns=dict(zip(paises.columns,['Id_Pais','Nombre_Pais'])), inplace=True)

In [22]:
#paises.reset_index(inplace=True, drop=True)

In [23]:
#paises['Codigo_Pais'] = paises['Nombre_Pais'].map(dict(zip(dataset['Country Name'],dataset['Country Code'])))

In [24]:
#paises.to_csv('Paises_2.csv', index=False)

<div style="color:#fb5607">Se filtran, con una mascara, los países (se excluye la información de las regiones)

In [25]:
dataset = dataset[dataset['Country Name'].isin(paises['Nombre_Pais'])]

<div style="color:#fb5607">Se compara el número de países que quedaron en el DataFrame con los números de países que hay en la lista

In [26]:
print(f"La lista contiene {len(paises)} países, y el DataFrame {len(dataset['Country Name'].unique())} países")

La lista contiene 198 países, y el DataFrame 194 países

<div style="color:#fb5607">Se ordenan alfabeticamente los países

In [27]:
dataset = dataset.sort_values('Country Name')

<div style="color:#fb5607">Se elimina la columna de indice, si está presente en el dataset importado

In [28]:
dataset.drop(['Unnamed: 66'], axis = 1, inplace = True)

<div style="color:#fb5607">Se crea una lista con los nombres de las columnas del DataFrame

In [29]:
columnas = dataset.columns

<div style="color:#fb5607">Se ubican los años (que están en columna) en una sola columna, para ello se usa la lista de los nombres del DataFrame

In [30]:
dataset = dataset.melt(id_vars = columnas[:3], var_name = 'Año', value_name='valores')

<div style="color:#fb5607">Se crea la columna indice uniendo las columnas Country Name, Country Code y Año

In [31]:
dataset['indice'] = dataset[['Country Name', 'Country Code', 'Año']].agg('//'.join, axis = 1)

<div style="color:#fb5607"><b>Se eiliminan las columnas Country Name, Country Code y Año

In [32]:
dataset.drop(['Country Name', 'Country Code', 'Año'], axis = 1, inplace = True)

<div style="color:#fb5607"><b>Se usa la columna indice para distribuir los valores relacionados con la columna 'Indicador Name'

In [33]:
dataset = dataset.pivot(index ='indice', columns ='Indicator Name', values = 'valores')

<div style="color:#fb5607"><b>Se resetea los indices para recuperar la columna indice y los valores de las columnas Country Name, Country Code y Año

In [34]:
dataset.reset_index(inplace = True)

<div style="color:#fb5607"><b>Se usa un nuevo DataFrame para que las columnas Country Name, Country Code y Año se puedan ubicar en en los posiciones 0,1 y 2

In [35]:
dataset2 = pd.DataFrame()

<div style="color:#fb5607"><b>Se expande la columna indice en las columnas Country Name, Country Code y Año en el nuevo DataFrame

In [36]:
dataset2[['Country Name', 'Country Code', 'Año']] = dataset['indice'].str.split('//',expand = True)

In [37]:
dataset.drop('indice', axis = 1, inplace = True)

<div style="color:#fb5607"><b>Se inseran las columnas Country Name, Country Code y Año en las tres primeras columnas.

In [38]:
for i,j in enumerate(dataset2.columns):
    dataset.insert(i,j, dataset2[j])

In [39]:
resultados = dataset.fillna(0)

<div style="color:#fb5607"><b>Se elimna una columna cuyos valores se encuentran distribuidas en 3 columna ya que el nombre esta muy largo y esto difculta la importación del dataset en mySQL

In [40]:
resultados.drop('Otras emisiones de gases de efecto invernadero, hidrofluorocarbonos (HFC),  perfluorocarbonos (PFC) y hexafluoruro de azufre (SF6) (miles de toneladas métricas de equivalente de CO2)',axis = 1, inplace = True)

<div style="color:#fb5607"><b>Se hace un listado (lista) de los nombres de las columnas y otro con los nombres siplificados para renombrar las columna. Este paso es necesario para poder iportar el dataset en my SQL.

In [41]:
nombres_viejos = list(resultados.columns)

In [42]:
nombres_nuevos = ['Country Name', 'Country Code', 'Año',
       'Consumo de energía eléctrica (kWh per cápita)',
       'Consumo de energía renovable (% del total)',
       'Emisiones de CO2 (kt)',
       'Emisiones de CO2, combustible gaseoso (% del total)',
       'Emisiones de CO2, combustibles sólidos (% del total)',
       'Emisiones de gas HFC (miles de Tm de equivalente de CO2)',
       'Emisiones de gas PFC (miles de Tm de equivalente de CO2)',
       'Emisiones de gas SF6 (miles de Tm de equivalente de CO2)',
       'Emisiones de gases de efecto invernadero (kt equi de CO2)',
       'Emisiones de metano (kt de equivalente de CO2)',
       'Emisiones de óxido nitroso (miles de Tm de equivalente de CO2)',
       'Las emisiones de CO2, combustible líquido ( % del total)',
       'Población, total',
       'Prod de electricidad a partir de carbón  (% del total)',
       'Prod de elect fuentes de gas natural (% del total)',
       'Prod de elect fuentes hidroeléctricas (% del total)',
       'Prod de elect fuentes nucleares (% del total)',
       'Prod de elect fuentes renovables, no hidr (% del total)',
       'Prod de elect fuentes renovables, no hidr (kWh)',
       'Prod de elect petróleo (% del total)',
       'Prod de elect fuentes renovables (% del total)',
       'Tierras agrícolas (% del área de tierra)',
       'Área selvática (% del área de tierra)',
       'Áreas protegidas terrestres y marinas (% de la superficie)']

<div style="color:#fb5607"><b>Aquí se verifica que los dos listados creados en los pasos anteriores contengan el mismo número de elementos.

In [43]:
if len(nombres_viejos) == len(nombres_nuevos):
    relaciones_nombres = dict(zip(nombres_viejos,nombres_nuevos))
else:
    print('Verificar lista de nobre nuevos')

<div style="color:#fb5607"><b>Se reemplazan los nombres de las columna por otros más cortos para poder importar el dataset en mySQL

In [44]:
resultados.rename(columns= relaciones_nombres, inplace = True)

In [45]:
resultados.insert(0,'Id_Pais',dataset['Country Name'].map(dict(zip(paises.Nombre_Pais,paises.Id_Pais))))

In [46]:
resultados.drop(resultados.columns[1:3], axis=1, inplace=True)

<div style="color:#fb5607"><b>Se guarda el DataFrame en con codificación latin-1 para que no presente error de codificación al importar en mySQl

In [47]:
resultados.to_csv('data_consumo_generacion_todo.csv', sep = ',', encoding = 'latin-1', index = False)

In [49]:
database_username='root' # Nomre del cliente oculto (para WorkBench) que has creado
database_password='C13nc14d3d4t0s'
database_ip='localhost'
database_name='biodatascience'
database_conection=db.create_engine(f'mysql+pymysql://{database_username}:{database_password}@{database_ip}/{database_name}')
coneccion=database_conection.connect()
metadata=db.MetaData()

resultados.to_sql('consumo_generacion_CO2',coneccion, index=False) 
# data es  el nombre del Dataframe y ventas es el nombre que quiere para la tabla

c:\Users\Fernando Aleisy\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'consumo_generacion_CO2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

12028