In [1]:
from pandas.io import sql
import pandas as pd
import sqlalchemy as db
from datetime import datetime, date
import numpy as np
from scipy import stats
import pymysql
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

In [2]:
df=pd.read_csv('owid-energy-datadiccionary.csv')
df

,column,description,source
0,biofuel_cons_change_pct,Annual percentage change in biofuel consumption,Calculated by Our World in Data based on BP St...
1,biofuel_cons_change_twh,"Annual change in biofuel consumption, measured...",Calculated by Our World in Data based on BP St...
2,biofuel_cons_per_capita,Per capita primary energy consumption from bio...,Calculated by Our World in Data based on BP St...
3,biofuel_consumption,"Primary energy consumption from biofuels, meas...",Calculated by Our World in Data based on BP St...
4,biofuel_elec_per_capita,Per capita electricity generation from biofuel...,Calculated by Our World in Data based on BP St...
...,...,...,...
123,wind_electricity,"Electricity generation from wind, measured in ...",Calculated by Our World in Data based on BP St...
124,wind_energy_per_capita,Per capita primary energy consumption from win...,Calculated by Our World in Data based on BP St...
125,wind_share_elec,Share of electricity generation that comes fro...,Calculated by Our World in Data based on BP St...
126,wind_share_energy,Share of primary energy consumption that comes...,Calculated by Our World in Data based on BP St...
127,year,Year of observation,Our World in Data

In [5]:

database_username='root' # Nomre del cliente oculto (para WorkBench) que has creado
database_password='C13nc14d3d4t0s'
database_ip='localhost'
database_name='biodatascience'
database_conection=db.create_engine(f'mysql+pymysql://{database_username}:{database_password}@{database_ip}/{database_name}')
coneccion=database_conection.connect()
metadata=db.MetaData()

df.to_sql('diccionario',coneccion, index=False) 
# data es  el nombre del Dataframe y ventas es el nombre que quiere para la tabla

ValueError: Table 'diccionario' already exists.