In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy as db

In [2]:
df = pd.read_csv(r'energyco2.csv', encoding='utf-8')

In [3]:
df = df.drop('Unnamed: 0', axis=1)

In [4]:
equivalencias_paises = {'Bangladesh': 'Bangladés',
                        'Bahrein': 'Baréin',
                        'Belarús': 'Bielorrusia',
                        'Bhután': 'Bután',
                        'Botswana': 'Botsuana',
                        "Côte d'Ivoire": 'Costa de Marfil',
                        'Congo, República Democrática del': 'República Democrática del Congo',
                        'Congo, República del': 'República del Congo',
                        'Djibouti': 'Yibuti',
                        'Egipto, República Árabe de': 'Egipto',
                        'Fiji': 'Fiyi',
                        'Micronesia (Estados Federados de)': 'Micronesia',
                        'Guinea-Bissau': 'Guinea-Bisáu',
                        'Irán, República Islámica del': 'Irán',
                        'Iraq': 'Irak',
                        'Kazajstán': 'Kazajistán',
                        'Kenya': 'Kenia',
                        'Corea, República de': 'Corea del Sur',
                        'Corea, República Popular Democrática de': 'Corea del Norte', 
                        'República Democrática Popular Lao': 'Laos',
                        'Lesotho': 'Lesoto',
                        'Viet Nam': 'Vietnam',
                        'Yemen, Rep. del': 'Yemen',
                        'Zimbabwe': 'Zimbabue',
                        'Myanmar': 'Birmania',
                        'Nueva Zelandia': 'Nueva Zelanda',
                        'Palau': 'Palaos',
                        'Papua Nueva Guinea': 'Papúa Nueva Guinea',
                        'Suriname': 'Surinam',
                        'Eswatini': 'Suazilandia',
                        'República Árabe Siria': 'Siria',
                        'Timor-Leste': 'Timor Oriental'}


df.replace({'Country': equivalencias_paises}, inplace = True)

In [5]:
paises = pd.read_csv('Paises.csv')

In [6]:
#Histograma que distribución del tipo de energia consumida/usada en el mundo
#all_energy_types
#coal (carbon) 9240
#natural_gas 9240
#petroleum_n_other_liquids 9240
#nuclear 9240
#renewables_n_other 9240

In [7]:
#exportar a csv
#df.to_csv('data_energyprocess20220817.csv')

In [8]:
paises.sort_values(by='Nombre_Pais', inplace=True)
df = df[df['Country'].isin(paises['Nombre_Pais'])]
print(f"La lista contiene {len(paises)} países, y el DataFrame {len(df['Country'].unique())} países")
df = df.sort_values('Country')
df.insert(0,'Id_Pais',df['Country'].map(dict(zip(paises.Nombre_Pais,paises.Id_Pais))))

La lista contiene 198 países, y el DataFrame 84 países

In [9]:
df.drop(df.columns[1:2], axis=1, inplace=True)

In [10]:
Tipo = df[['Energy_type']]

In [11]:
Tipo = Tipo['Energy_type'].unique()

In [12]:
Tipo = pd.DataFrame(Tipo)

In [13]:
Tipo.reset_index(inplace=True)

In [14]:
Tipo

   index                          0
0      0           all_energy_types
1      1                       coal
2      2                natural_gas
3      3  petroleum_n_other_liquids
4      4                    nuclear
5      5         renewables_n_other

In [15]:
Tipo.columns = ['Id_Tipo','Tipo de energia']

In [18]:
df = df[df['Energy_type'].isin(Tipo['Tipo de energia'])]
print(f"La lista contiene {len(Tipo)} países, y el DataFrame {len(df['Energy_type'].unique())} tipos de energia")
df.insert(1,'Id_Tipo',df['Energy_type'].map(dict(zip(Tipo['Tipo de energia'],Tipo.Id_Tipo))))

La lista contiene 6 países, y el DataFrame 6 tipos de energia

In [19]:
Tipo.drop(Tipo.columns[2:3], axis=1, inplace=True)

In [20]:
database_username='root' # Nomre del cliente oculto (para WorkBench) que has creado
database_password='C13nc14d3d4t0s'
database_ip='localhost'
database_name='biodatascience'
database_conection=db.create_engine(f'mysql+pymysql://{database_username}:{database_password}@{database_ip}/{database_name}')
coneccion=database_conection.connect()
metadata=db.MetaData()

df.to_sql('energyprocess',coneccion, index=False)

20160